[submodule "libs/Atmosphere-libs"]
	path = libs/Atmosphere-libs
	url = https://github.com/Atmosphere-NX/Atmosphere-libs.git
[submodule "libs/libtesla"]
	path = libs/libtesla
	url = https://github.com/WerWolv/libtesla.git
